* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.content {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 1vh; /* Same as footer */  
}